@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.max-container {
  @apply mx-auto max-w-[1440px];
}

.hero-img-section {
  @apply w-[670px] h-[1500px] xl:h-[670px] xl:rounded-full bg-primary absolute rotate-45 xl:rotate-0 -translate-x-20 translate-y-52 xl:translate-x-0 xl:translate-y-0 -top-96 xl:-top-52 xl:-right-48;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
